name: wexploria_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  supabase_flutter: ^1.0.0
  sign_in_with_apple: ^7.0.1   # ⚡ version mise à jour compatible Flutter 3+
  webview_flutter: ^4.10.0
 # ou la dernière version stable

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/wexploria_logo.png
    - assets/images/wexploria_logo2.png
    - assets/images/wexploria_logo3.png
    - assets/images/homme-chevauchant-sa-planche-de-surf-et-s-amuser.jpg
    - assets/images/parapente-tandem-survolant-le-bord-de-mer-avec-de-l-eau-bleue-et-du-ciel-sur-horison-vue-de-parapente-et-blue-lagoon-en-turquie.jpg